/* Default styles */
.bar {
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 5px;
  }
  
  .coordinateBox {
    flex: 1;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 16px;
  }
  
  .coordinateBox:focus {
    outline: none;
  }
  
  .coordinateIcon {
    margin-right: 5px;
    color: #670a34 ;
  }
  
  .suggestionsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .suggestionsList li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .suggestionsList li:hover {
    background-color: #e6e6e6;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) { /* Tablets and smaller */
    .bar {
        width: 100%;
        justify-content: flex-end; /* Align items to the right */
      }
      
      .coordinateBox {
        margin-right: 5px; /* Add some space between the input box and the icon */
      }
  }
  
  @media (max-width: 480px) { /* Mobile phones */
    .bar {
        width: 100%;
        justify-content: flex-end; /* Align items to the right */
      }
    
      .coordinateBox {
        width: 100%;
        margin-bottom: 10px;
        padding-right: 30px; /* Add space for the icon */
        box-sizing: border-box; /* Include padding in width calculation */
      }
      
  }
  